<form id="passwordForm">
    <table>
        <tr th:each="settingKey: ${allSettingKeys}">
            <td th:text="${settingKey.getDisplay()}"></td>
            <td><label>
                <input th:type="${settingKey.getType().getInputType()}" th:id="${settingKey.getParam()}" th:name="${settingKey.getParam()}" th:attr="param=${settingKey.getParam()}, value=${settings.getSetting(settingKey).valueString()}, checked=${settings.getSetting(settingKey).valueString() == 'true'}">
                <!--            <input th:type="${settingKey.getType().getInputType()}" th:id="${settingKey.getParam()}" th:name="${settingKey.getParam()}">-->
            </label></td>
            <td><button type="button" th:attr="param=${settingKey.getParam()}, value=${settings.getSetting(settingKey).valueString()}" onclick="setField(event)">Reset</button></td>
            <td><Button type="button" th:attr="param=${settingKey.getParam()}, value=${defaultSettings.getSetting(settingKey).valueString()}" onclick="setField(event)">Default</Button></td>
        </tr>
    </table>
    <button type="button" onclick="generatePasswords()">Generate passwords</button>
    <button type="Reset">Reset parameters</button>
</form>